{% extends "home/basecontent.html" %}

   {% block tabledata %}
   
      <tr>
	  <td> First Run </td>
	  <td> Path </td>
	  <td> Binary SHA1 </td>
	  <td> Cmdline</td>
     </tr>
     
     {% for unique in content %}
      <tr>
	    <td> 
		  <a href="{% url "home.views.display_obj" "event" unique.event.id %}"> {{ unique.event.event_timestamp }} </a>
	    </td>
	    <td> 
		  <a href="{% url "home.views.display_obj" "binary" unique.binary.id %}"> {{ unique.binary.file_path }} </a>
	    </td>
	    <td> 
		  <a href="{% url "home.views.display_obj" "binary" unique.binary.id %}"> {{ unique.binary.binary_sha1 }} </a>
	    </td>
	    <td> 
		  <a href="{% url "home.views.display_obj" "event" unique.event.id %}"> {{ unique.event.cmdline }}</a>
	    </td>
      {% endfor %}
{% endblock  %}

      