{% extends "base_.html" %}


{% block title %}
ElJefe
{% endblock %}


{% block extrahead %}
{% endblock %}



{% block initializer %}
<script type="text/javascript" src="/imedia/js/dtree.js"></script>  
{% endblock %}


{% block content %}

{% load tags %}

{% if usb_event %}

<div class="well well-lg">
    <h3 class="title"> USB Event Information </h3>

    <table class="table">
    
    <tr>
    <td><b>Hostname</b></td><td>{{usb_event.station.hostname}}</td>
    </tr>
    
    <tr>
    <td><b>IP Address</b></td><td>{{usb_event.station.ip_address}}</td>
    </tr>
    
    <tr>
    <td><b>Action</b></td><td>{{usb_event.status}}</td>
    </tr>
    
    <tr>
    <td><b>Timestamp</b></td><td>{{usb_event.event_timestamp}}</td>
    </tr>
    
{% ifequal usb_type "mass_storage"  %}
    <tr>
    <td><b>Device Serial Number</b></td><td>{{usb_event.mass_storage_device.serial_number}}</td>
    </tr>
    
    <tr>
    <td><b>Device Model</b></td><td>{{usb_event.mass_storage_device.model}}</td>
    </tr>
    
    <tr>
    <td><b>Logical Drive</b></td><td>{{usb_event.logical_drive}}</td>
    </tr>
    
    <tr>
    <td><b>Volume Serial Number</b></td><td>{{usb_event.volume_serial_number}}</td>
    </tr>
{% endifequal %}

{% ifequal usb_type "other"  %}
    <tr>
    <td><b>Caption</b></td><td>{{usb_event.device.caption}}</td>
    </tr>
    
    <tr>
    <td><b>Vendor ID</b></td><td>{{usb_event.device.vendor_id}}</td>
    </tr>
    
    <tr>
    <td><b>Product ID</b></td><td>{{usb_event.device.product_id}}</td>
    </tr>
    
    <tr>
    <td><b>USB Classes</b></td>
    <td>
	<table class="table">
		<tr>
		    <td> Class </td>
		    <td> SubClass </td>
		    <td> Protocol </td>
		</tr>
            {% for usb_info in usb_event.device.usb_class|split:'|'%}
                <tr>
			{% get_usb_data usb_info as usb_data %}
			<td> 
			    {{ usb_data.0 }} 
			</td>
			<td> 
			    {{ usb_data.1 }} 
			</td>
			<td> 
			    {{ usb_data.2 }} 
			</td>
		</tr>
		{% endfor %}
                
            </table>
    </td>
    </tr>
{% endifequal %}

</div>

{% endif %}

{% endblock %}
