{% extends "base_.html" %}
{% load bootstrap3 %}
{% load alert_tags %}

{% block initializer %}
<script>

$(function(){
    $('#tables').html($('span[id="'+ $('#selectbasic').val() +'"]').html());

    $('#selectbasic').change(function(){
                                $('#tables').html($('span[id="'+ $(this).val() +'"]').html());
                                });
    $('#select_all').click(function(){
                                $('input[type="checkbox"]').prop('checked',true);
                            });
    $('#select_none').click(function(){
                                $('input[type="checkbox"]').prop('checked',false);
                            });            
    $('#export').click(function(event){
                                var selected = [];
                                $('#tables input:checked').each(function() {
                                    selected.push($(this).attr('id'));
                                });
				data =  {'filter_ids'  : selected ,
					'filter_type' : $('#selectbasic').val()},
				window.location.href = '{% url "alerts.views.export_filters"%}' + '?'+  jQuery.param(data);

                            });       
    $('td').on('focusout', function(){ 
														    
						});			    
  });



</script>

{% endblock %}

{% block title %}
El Jefe - Filters
{% endblock %}

{% block content %}

{% csrf_token %}

<h3 class="title">Filters</h3>

    <div class="well well-lg">
        <form class="form-horizontal">      
          <div class="form-group">
            <label class="control-label" for="selectbasic">Filter Type</label>
              <select id="selectbasic" name="selectbasic" class="form-control">
              {% for option in filter_list.keys %}
                <option value="{{ option }}">{{ option }}</option>
              {% endfor %}
              </select>
          </div>
        </form>
        
        <div id="tables"> </div>
        
    {% for filter_name, flts in filter_list.items %}
        <span id="{{ filter_name }}" style="display:none">
            <table class="table" >
                <thead>
                    <tr>
                            <th>  </th>
                        {% for field  in flts.1 %}
                            <th> {{ field|capfirst }}</th>
                        {% endfor %}
                    </tr>
                </thead>
            
                <tbody>
                {% for flt in flts.0 %}
                    <tr> 
                        <td> <input type="checkbox" id="{{ flt.id }}"> </td>
                        {% for field  in flts.1 %}
                                 <td> {{ flt|get:field }} </td>
                            {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </span>
    {% endfor %}

        <div style="text-align: center;margin-top:5%">
            <button id="select_all" class="btn btn-danger">Select All</button>
            <button id="select_none" class="btn btn-danger">Select None</button>
            <button id="export" class="btn btn-danger">Export </button>
        </div>
   </div> 
   
{% endblock %}

